<% case state %>
  <% when 'pending' %>
    <p class="state-pending"><%= state.capitalize %></p>
  <% when 'accepted', 'finished', 'paid' %>
    <p class="state-accepted"><%= state.capitalize %></p>
  <% when 'declined' %>
    <p class="state-declined"><%= state.capitalize %></p>
  <% when 'ongoing' %>
    <p class="state-ongoing"><%= state.capitalize %></p>
  <% when 'delivered' %>
    <p class="state-ongoing"><%= state.capitalize %></p>
  <% else %>
    <p>Undefined</p>
<% end %>
