<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <div class="chat-header">
      <div class="project-and-back">
      <%= link_to project_path(@project) do %>
        <i class="fas fa-angle-left back-to-project-btn"></i>
        <div class="chat-project-name"><%= @project.name %></div>
      <% end %>
      </div>
      <div class="btn-and-name">
        <%= link_to 'Place order', new_order_path(project_id: @project.id), class:"btn btn-primary" %>
        <%= render 'shared/avatar_with_name', user: @project.user, imgSize: "" %>
      </div>
    </div>
    <div
      class="chat-box"
      style="margin-top: 5em;"
      data-project_id="<%= @project.id %>"
      data-user_id="<%= @user.id %>"
      data-current_user="<%= current_user.id %>"
    >
    <% if @chats.empty? %>
      <div class="chat-bubble-wrapper">
        <div class="chat-bubble deadapp">
          <div class="chat-username">App From The Dead</div>
          <div class="chat-message">Hey! Just start typing to send any question about this project</div>
        </div>
        <div class="timestamp"><%= Time.now.strftime("%b %e, %l:%M %p") %> </div>
      </div>
    <% else %>  
      <% @chats.each do |chat| %>
        <%= render 'message', chat: chat %>
      <% end %>
    <% end %>
    </div>

    <%= form_with(model: [@project, @user, @chat], remote: true, format: :json, id: 'chat-form') do |form| %>
      <% if @chat.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
          <ul>
            <% @chat.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field position-relative">
        <%= form.text_field :message, id: :message, class: "form-control", required: true, placeholder: "Type your message", autocomplete:'off' %>
        <%= form.hidden_field :identifier, id: :identifier, value: current_user.identifier %>
      </div>
    <% end %>
  </div>
</div>
