<div class="horizontal-card entire-order-card">
  <% classes = "small" %>
  <%= render 'shared/project_photo', project: order.project, classes: classes %>
  <div class="names">
    <h4><%= link_to order.project.name, project_path(order.project) %></h4>
    <!-- order.project_onwer is the DEV -->
    <% if order.project_owner?(current_user)%>
    <%= render 'shared/avatar_with_name', user: order.user, imgSize: "small" %>
    <% else %>
    <%= render 'shared/avatar_with_name', user: order.project.user, imgSize: "small" %>
    <% end %>
  </div>
  <div class="project-info">
    <span><%= order.amount_currency %> Price!!!</span>
    <br><span> <span class="grey">Due by </span><%= "#{order.due_date.to_datetime.strftime("%m/%d/%Y")}" unless order.due_date.nil? %></span>
    <br><span>Standard Customizations: #!!!</span>
    <br><span>Premium Customizations </span>
  </div>

  <div class="answer-buttons">
    <%= render "orders/#{order.state}", order: order %>
  </div>

  <div class="state">
    <p><%= render 'shared/state_color', state: order.state %></p>
    <p class="invitation-date">Since <br><%="#{order.created_at.to_date.strftime("%m/%d/%Y")}"%></p>
  </div>
</div>
