<% if order.project_owner?(current_user) %>
  <%= link_to 'Edit', edit_order_path(order), class:"btn btn-primary" %>
<% else %>
  <%= link_to 'Pay', '#', id:"order-pay-btn", class:"btn btn-success" %>
  <%= link_to 'Edit', edit_order_path(order), class:"btn btn-info" %>

  <%= form_tag order_payments_path(order), class:"hidden" do %>
    <article>
      <label class="amount">
        <span>Amount: <%= humanized_money_with_symbol(order.amount) %></span>
      </label>
    </article>
    <input value="1" type="hidden" name="order[dev_state]" id="order_dev_state">

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Project"
      data-email="<%= current_user.email %>"
      data-description="Project <%= order.project.name %>"
      data-amount="<%= order.amount_cents %>"
      data-currency="<%= order.amount.currency %>"></script>
  <% end %>

<% end %>


