<% if !user_signed_in? %>
<%= render "shared/navbar" %>
<% end %>
<div class="container-fluid" id="banner-landing">
  <% if !user_signed_in? %>
  <%= render "pages/cta" %>
  <% else %>
  <% end %>
  <div class="main-wrapper" style="<%= 'margin-top: 70px; padding-top: 50px;' if !user_signed_in? %>">
    <div class="col-md-10 col-md-offset-1 ">
      <h1 class='text-center' style="padding-bottom: 20px; margin-top: 70px; padding-top: 30px;">Find your App</h1>
      <% @projects.each do |project| %>
      <div class="col-xs-12 col-md-6 card-wrapper">
        <%= link_to project_path(project) do %>
        <%= render 'projects/card_link', project: project %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

</div>
