<div>
  <div class="container profile top-margin">
    <h1><%= @user.full_name %></h1>
    <h3>About</h3>
    <div class="profile-info">
      <div class="profile-edit">
        <%= link_to "#", class: "unstyle-color-link" do %>
        <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <div class="profile-info-details">
        <div class="profile-info-img">

          <div class="card-avatar" style="background-image: url('<%= @user.profile_picture %>'); border-radius: 50%; border: 1px solid rbga(0,0,0,0.1); width: 100%; height: 100%; background-position: center; background-size: cover">
          </div>

        </div>
        <div class="profile-ratings">
          <div class="profile-rating">
           <span>Comunication</span>
           <div class="profile-star">
            <i class="fas fa-star"></i>
          </div>
        </div>
  </div> <!-- end of the profile-ratings div -->
  <div class="profile-links">
    <%= link_to "#", class: "unstyle-color-link" do %>
    <i class="fas fa-paperclip"></i>
    <% end %>
    <%= link_to "#", class: "unstyle-color-link" do %>
    <i class="far fa-comments"></i>
    <% end %>
    <%= link_to "#", class: "unstyle-color-link" do %>
    <i class="fab fa-linkedin-in"></i>
    <% end %>
  </div><!-- end of the profile-links-div -->
</div> <!-- end of the profile-info-details-div -->
<div class="profile-description">
  <p>Lorem ipsum dolor sit amet, wisi moderatius vim at, at mel lobortis consetetur. Quo et tritani consectetuer,
  .</p>
</div>
</div>  <!-- end of the profile-info div -->

<div class="profile-reviews">
  <h3>Reviews</h3>
  <div class="profile-review">
    <%= @user.reviews.each do |review| %>
     <%= render 'projects/review', review: review %>
    <% end %>
</div>
</div> <!-- end of the profile-reviews div -->
<div class="profile-projects">
  <h3>Projects</h3>
  <div class="row">
    <% @projects.each do |project| %>
    <div class="col-xs-12 col-md-6 card-wrapper">
      <%= link_to project_path(project) do %>
        <%= render 'projects/card', project: project %>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
</div>
</div>



