<% if !user_signed_in? %>
  <%= render 'shared/navbar' %>
<% end %>
<%= render "shared/chat_window", user: @user %>
<div>
  <div class="container profile top-margin">
    <h1><%= @user.full_name %></h1>
    <h2>Contact</h2>
    <div class="profile-info">
      <div class="profile-info-details">
        <div class="profile-info-img">
          <div class="card-avatar" style="background-image: url('<%= @user.profile_picture %>'); border-radius: 50%; border: 1px solid rbga(0,0,0,0.1); width: 100%; height: 100%; background-position: center; background-size: cover">
          </div>
        </div>
      </div> <!-- end of the profile-ratings div -->
      <div class="profile-links  unstyle-color-link text-center ">
          <a  href="#" data-toggle="modal" data-target="#chat_window">
            <i class="far fa-comments"></i>
          </a>
         <a href="https://api.addthis.com/oexchange/0.8/forward/email/offer?url=www.appfromthedead.com&pubid=ra-42fed1e187bae420&title=Look%20at%20app%20from%20the%20dead&ct=1" target="_blank">
           <i class="far fa-envelope"></i></a>
            <a href="https://api.addthis.com/oexchange/0.8/forward/whatsapp/offer?url=www.appfromthedead.com&pubid=ra-42fed1e187bae420&title=Look%20at%20app%20from%20the%20dead&ct=1" target="_blank">
              <i class="fab fa-whatsapp"></i></a>
      </div><!-- end of the profile-links-div -->
    </div> <!-- end of the profile-info-details-div -->
  <h2>Reviews</h2>
<div class="profile-review">
  <% unless @user.reviews.empty? %>
     <% @user.reviews.each do |review| %>
      <%= render 'projects/review', review: review %>
      <% end %>
      <% else %>
       <div class="profile-review">
       <p class="dead-font">No app from the Dead reviews
for now...
  </p>
      </div>
    <% end %>
    </div>
<!-- end of the profile-reviews div -->

   <h2>Projects</h2>
      <% unless @projects.empty? %>
       <% @projects.each do |project| %>
        <div class="col-xs-12 col-md-6 card-wrapper">
          <%= link_to project_path(project) do %>
            <%= render 'projects/card_link', project: project %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="profile-review">
        <p class="dead-font">No app from the dead projects for now...</p>
      </div>
    <% end %>
</div>
</div>



