<div class="card">
  <% classes = "card-img" %>
  <%= render 'shared/project_photo', project: project, classes: classes  %>

  <div class="card-info">
    <div class="title-rating">
      <h3><%= project.name %></h3>
        <%= render 'shared/stars', project: project %>
    </div>
    <div class="description">
      <p><%= project.description %></p>
    </div>
    <div class="owner-info">
      <div class="avatar-container">
        <%= render 'shared/avatar', user: project.user %>
      </div>
      <p><%= project.user.email %></p>
    </div>
  </div>
</div>
