<div class="card">
  <% if project.project_assets.count != 0 %>
    <div class="card-img" style="background-image: url('<%= project.project_assets.first.photo_url %>'); background-position: center; background-size: cover;">
    </div>
  <% else %>
    <div class="card-img-placeholder" style="background-image: url(<%= image_path "Hand_&_Logo.svg" %>); background-position: center;">
    </div>
  <% end %>
  <div class="card-info">
    <div class="title-rating">
      <h3><%= project.name %></h3>
        <%= render 'shared/stars', project: project %>
    </div>
    <div class="description">
      <p><%= project.description %></p>
    </div>
    <div class="owner-info">
      <div class="avatar-container">
        <%= render 'shared/avatar', user: project.user %>
      </div>
      <p><%= project.user.email %></p>
    </div>
  </div>
</div>
