<%= simple_form_for(project) do |f| %>
<%= f.input :name, label: "Project name" %>
<%= f.input :description, label: "Project description" %>
<%= f.input :category, collection: Project::CATEGORIES %>
<%= f.label "Customization options:" %>
<%= f.input :color_scheme, label: " Color scheme", boolean_style: :inline %>
<%= f.input :font, label: " Font", boolean_style: :inline %>
<%= f.input :button_shape, label: " Button shape", boolean_style: :inline %>
<%= f.input :social_log_in, label: " Log in with social media", boolean_style: :inline %>

<div class="form-group select optional project_users" id="members">
  <label class="form-control-label select optional" for="project_user_ids">Team members</label>
  <input name="project[user_ids][]" type="hidden" value="" />
  <% project.users.each_with_index do |selected_user, index| %>
  <div class='member-addon-wrapper'>
    <select class="form-control select optional member_project_addon" name="project[user_ids][]">
      <option value="<%= selected_user.id %>"><%= selected_user.email %></option>
      <% users.each do |user| %>
      <option value="<%= user.id %>"><%= user.email %></option>
      <% end %>
    </select>
    <% if index > 0 %>
    <div class="delete-btn" style="margin-left: 10px;"><i class="far fa-trash-alt" id="delete-btn"></i></div>
    <% end %>
  </div>
  <% end %>
  <div class='member-addon-wrapper'>
    <select class="form-control select optional member_project_addon" name="project[user_ids][]">
      <option value=""></option>
      <% users.each do |user| %>
      <option value="<%= user.id %>"><%= user.email %></option>
      <% end %>
    </select>
    <div class="delete-btn" style="margin-left: 10px;"><i class="far fa-trash-alt" id="delete-btn"></i></div>
  </div>
</div>

<%= f.simple_fields_for ProjectAsset.new do |f2| %>
<%= f2.input :photo_cache, as: :hidden %>
<%= f2.input :photo %>
<% end %>
<%= f.submit id:"edit-btn" %>
<% end %>
