<div class="review">
  <div class="user-info">
    <div class="user-img">
      <%= render 'shared/avatar', user: review.user %>
    </div>
    <p><%= review.user.email %></p>
  </div>
    <p><%= review.created_at %></p>
  <div class="content-container">
    <div class="content">
      <%= review.content %>
    </div>
    <div class="ratings">
      <ul>
        <li>Comunication <%= render 'shared/stars', project: review.order.project %></li>
        <li>Quality of product <%= render 'shared/stars', project: review.order.project %></li>
        <li>Delivered on time <%= render 'shared/stars', project: review.order.project %></li>
      </ul>
    </div>
  </div>
</div>
