<div class="review">
  <%= render 'shared/avatar_with_name', user: review.user, imgSize: "small" %>
  <p><%= review.created_at %></p>
  <div class="content-container">
    <div class="content">
      <%= review.content %>
    </div>
    <div class="ratings">
      <ul>
        <li>Comunication <%= render 'shared/stars_communication', project: review.order.project %></li>
        <li>Quality of product <%= render 'shared/stars_quality', project: review.order.project %></li>
        <li>Delivered on time <%= render 'shared/stars_delivery_on_time', project: review.order.project %></li>
      </ul>
    </div>
  </div>
</div>
