<div class="review">
  <div class="review-user-and-date">
    <%= render 'shared/avatar_with_name', user: review.user, imgSize: "small" %>
    <p class="review-date"><%= review.created_at.to_date %></p>
  </div>
  <div class="content-container">
    <div class="content">
      <%= review.content %>
    </div>
    <div class="ratings">
      <ul>
        <li>Comunication <%= render 'shared/stars', rating: review.communication_rating %></li>
        <li>Quality of product <%= render 'shared/stars', rating: review.quality_rating %></li>
        <li>Delivered on time <%= render 'shared/stars', rating: review.delivery_on_time_rating %></li>
      </ul>
    </div>
  </div>
</div>
