<!DOCTYPE html>
<html>
  <head>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>App From The Dead</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body style="background-color: #35477D !important">
    <%= render 'shared/flashes' %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
    <% end %>
    <div id='main-web-wrapper'>
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
</html>
